h1{
    margin-top: 9vh;
}
.container{
    width: 600px;
    margin-top: 9vh;
    margin-left: auto;
    margin-right: auto;
}
div label{
    display: block;
    font-weight: bold;
}
.container input{
    width: 70%;
    background-color: white;
    color: #000;
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    border: 2px solid black;
    text-align: center;
}
#hypotenuse-btn{
    background-color: #022f69;
    color:  #fff;
    font-size: 1.5rem;
    margin: 2vh 0;
    border: none;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}
#output{
    margin-bottom: 2vh;
    font-size: 1.5rem;
}

@media (max-width: 1050px) {
    .container {
        width: 80%;
    }
}