@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .nav-list {
    background: darkblue;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
  }
  
  .nav-item a:hover {
    color: white
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
  }
